.swiper-slide img {
    width: 100%;
    height: 550px;
    object-fit: fill;
    /* border-radius: 10px; */
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff; /* Customize navigation button colors */
    visibility: hidden;
}

.swiper-pagination-bullet {
    background: #088; /* Customize dot colors */
}

.swiper-pagination-bullet-active {
    background: #081; /* Active dot color */
}

@media(max-width:500px){
    .swiper-slide img{
        height: 60vh;
    }
}